@charset "UTF-8"; /* Configuração para linguagem latina*/

body{
    font-family: Arial, sans-serif;
    background-color:#dddddd;
    color: rgba(0,0,0,1);    
}

div#interface{  /*configurar a div que abrange tudo, menos o menu*/
    width: 1100px;
    background-color: #ffffff;
    margin: -20px auto 0px auto; /*margem*/
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px ; /*descolar'' o texto da margem*/
} 